<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Numbers</title>
</head>
<body>
    <h1>Welcome to Random Number Generator!</h1>
    <form method="POST" action="results">
        <label for="number">Enter a number between 1 to 30</label>
        <input type="number" name="number" id="number" min="1" max="30">
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>